* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-image: url('img/Backgorund.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

nav {
   padding: 40px;
   color: #fff;
}

nav .nav-body {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

nav .nav-body li {
    margin-right: 45px;
}

nav .nav-body li a {
    transition: all 0.3s ease;
}

nav .nav-body li:hover a {
    color: #bababa;
}

/* Agregado */

.titulo {
    width: 1000px;
    margin-top: 150px;
    margin-left: 150px;
    font-size: 42px;
    animation: mover 5s ease infinite;
}

.titulo h1 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 150px;
}

.planetas {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.planeta {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 250px;
    margin-bottom: 250px;
}

.planeta:nth-child(odd) {
    flex-direction: row-reverse;
}

.planeta .info{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planetas figure {
    width: 750px;
}

.planetas img {
    width: 100%;
}

.planetas h3 {
    font-size: 42px;
    margin-bottom: 10px;
}

.planetas p {
    font-size: 20px;
}

.remarcar {
    color: #b87aff;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}