* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

nav {
   padding: 40px;
   color: #fff;
}

nav .nav-body {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

nav .nav-body li {
    margin-right: 45px;
}

nav .nav-body li a {
    transition: all 0.3s ease;
}

nav .nav-body li:hover a {
    color: #bababa;
}

.titulo {
    width: 1000px;
    margin-top: 100px;
    margin-left: 140px;
    font-size: 42px;
}

.titulo h1 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 45px;
}

.btn-blanco {
    border: 2px solid #ededed;
    padding: 10px 30px 10px 30px;
    font-size: 34px;
    border-radius: 5px;
}