* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #000;
}

nav {
   padding: 40px;
   color: #fff;
}

nav .nav-body {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

nav .nav-body li {
    margin-right: 45px;
}

.fondo-container {
    filter: blur(6px);
}

.fondo {
    position: fixed;
    background-image: url('img/universo.gif');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

.container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    font-size: 42px;
    font-family: system-ui;
    font-weight: 500;
    margin: 200px auto 200px auto;
  }
  
  .titulo {
    text-align: center;
    padding: 50px;
  }
  
  .titulo h2 {
    position: sticky;
    top: 50px;
    left: 0;
  }
  
  .texto p:nth-child(1) {
    margin-bottom: 150px;
  }